@use "../backend" as *;

// --------------------- In chat ---------------------

// SPOILER
#{c(main chat spoiler content)},
#{c(main chat spoiler markdownContent)},
#{c(main chat spoiler hidden)} {
    background: rgba(0, 0, 0, 1) !important;
    padding: 5px;
    border-radius: 4px;
}

// Mention
#{c(main chat mentioned)} {
    --background-mentioned: rgba(255, 229, 84, 0.15);
    --background-mentioned-hover: rgba(255, 229, 84, 0.15);
    --message-mentioned-background-hover: rgba(255, 229, 84, 0.15);
}

// User display in chat
#{c(main chat username)},
#{c(main chat markup)} strong {
    font-weight: 900;
}

// Date Time divider in chat
#{c(main chat divider content)} {
    color: var(--hsl-main-color);
}

// Divider for new chat
#{c(main chat divider unreadPill)},
#{c(main chat divider divider)}:has(#{c(main chat divider unreadPill)}) {
    background-color: var(--hsl-main-color);
}

// New chat top bar
#{c(main visualRefresh)} #{c(main bar newMessages)} {
    border-radius: cv('hyprcord.radius');
    background: linear-gradient(360deg, var(--hsl-main-color), transparent);
    border: none;
}

// Server Invite link display
#{c(main chat inviteContainer)} {
    background: var(--hsl-card-shading);
    border: 1px solid var(--hsl-main-color);
}

#{c(main chat inviteFooterContent)} {
    background: none;
}

// --------------------- Bottom ---------------------

// Chat input
#{c(main chatForm scrollableContainer)},
#{c(main chatForm themedBackground)} {
    background: var(--hsl-card-shading);
}

// WHO IS CHATTING
#{c(main chat typingText)} {
    font-size: 14px;
}

// --------------------- Popout (right-click) ---------------------

// More visible Delete Message button
#{c(main menus colorDanger)},
#{c(main menus colorDanger)} #{c(main menus label)} {
    color: rgb(255, 64, 64);
    font-weight: 600;
}