@use "../backend" as *;

// --------------------- DM ---------------------

// Friends List Header Fix
#{c(main visualRefresh)} #{c(friendsDM headerText)} {
    display: flex;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 700;
    align-items: center;
}

// DM Username Color and Size
#{c(friendsDM linkButtonIcon)},
#{c(friendsDM name)} {
    font-size: 14px;
    text-shadow: #000000 0px 0px 2px;
    font-weight: 700;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
}

// Friends List size
#{c(friendsDM peopleUsername)} {
    font-size: 15px;
}

#{c(friendsDM peopleText)} {
    color: white;
}

#{c(global contentOverlay)} {
    background: var(--hsl-popout-shading) !important;
}

// Selected Interactive in DM
#{c(main visualRefresh)} #{c(friendsDM interactive)}#{c(friendsDM interactiveSelected)}::before {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
}