@use "../backend" as *;

// --------------------- Member List ---------------------

// Role groups
#{c(main memberList membersGroup)} {
    background: rgba(32, 181, 255, 0.025);
    color: var(--hsl-main-color);
    margin: auto;
    border-top: 3px solid var(--hsl-main-color);
}

// DM + Channel list
#{c(main visualRefresh)} #{c(main friendsDM privateChannels)},
#{c(main visualRefresh)} #{c(main server container)} {
    background: transparent !important;
}

// Usernames in servers
#{c(main memberList username)} {
    font-size: 15px;
    font-weight: 600;
}

// Selected user with role color
#{c(main memberList nameContainer)}[style^="color:"]:after {
    background: linear-gradient(to right, currentColor, transparent) !important;
}

// Selected user with no role color
#{c(main memberList nameContainer)}:after {
    background: linear-gradient(to right, var(--hsl-main-color), transparent) !important;
}

// Selected user with gradient color
#{c(main memberList nameContainer)}:has(#{c(main memberList threeColorGradient)}),
#{c(main memberList nameContainer)}:has(#{c(main memberList twoColorGradient)}) {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent) !important;
}

// Fix tag on username
#{c(main memberList usernameInner)} {
    overflow: hidden;
}

// Tag and Owner only on hover
#{c(main memberList memberInner)} :not(.selected, :hover) :is(#{c(main memberList clanTag)}, #{c(main memberList ownerIcon)}) {
    display: none;
}