@use "../backend" as *;

// --------------------- Member List ---------------------

// Role groups
#{c(memberList membersGroup)} {
    background: rgba(32, 181, 255, 0.025);
    color: var(--hsl-main-color);
    margin: auto;
    border-top: 3px solid var(--hsl-main-color);
}

// DM + Channel list
#{c(main visualRefresh)} #{c(friendsDM privateChannels)},
#{c(main visualRefresh)} #{c(server container)} {
    background: transparent !important;
}

// Usernames in servers
#{c(memberList username)} {
    font-size: 15px;
    font-weight: 600;
}

// Selected user with role color
#{c(memberList nameContainer)}[style^="color:"]:after {
    background: linear-gradient(to right, currentColor, transparent) !important;
}

// Selected user with no role color
#{c(memberList nameContainer)}:after {
    background: linear-gradient(to right, var(--hsl-main-color), transparent) !important;
}

// Fix tag on username
#{c(memberList usernameInner)} {
    overflow: hidden;
}

// Tag and Owner only on hover
#{c(memberList memberInner)} :not(.selected, :hover) :is(#{c(memberList clanTag)}, #{c(memberList ownerIcon)}) {
    display: none;
}