@use "../backend" as *;

// --------------------- Server ---------------------

// Channel text
.theme-dark #{c(channels name)} {
    text-shadow: #000000 0px 0px 1px;
}

// Server list
#{c(main visualRefresh)} #{c(guildList scroller)} {
    background: transparent;
    margin-bottom: 0px !important;
}

// ------------------- SERVER WITH BANNER -------------------
#{c(main visualRefresh)} #{c(server header)},
#{c(main visualRefresh)} #{c(server bannerVisible)} {
    background: transparent;
}

// DM + Server channel
#{c(global sidebarList)} #{c(global scrollerBase)} {
    background: transparent;
}

// Top bar
#{c(server topBar)} {
    background: transparent;
}

// Round servers icon
#{c(guildList icon)},
#{c(guildList childWrapper)} {
    border-radius: 50%;
}

// Server hover + selected
:is(#{c(guildList icon)},
    #{c(guildList childWrapper)}) {
    #{c(guildList selectedWrapper)} & {
        border-radius: 10px;
        transition: border-radius 0.5s ease;
    }
}

// Hide pill for home
#{c(guildList tutorialContainer)} #{c(guildList listItem)} #{c(guildList item)} {
    display: none;
}

// Selected channel
#{c(channels wrapper)}#{c(channels modeSelected)} #{c(channels link)}::before {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
}

// New badge in forum
#{c(forum newBadge)} {
    color: var(--text-normal);
}

// Channel title
:is(#{c(main themeDark)}, #{c(main themeLight)}) #{c(server headerThemed)} {
    background: transparent;
}

#{c(server headerContainer)} {
    background: transparent;
}