/* Server setting when click on web invitation link */
.visual-refresh .editProfileContainer__7bf69 {
    background: var(--card-shading);
}

/* No separator in settings */
.visual-refresh .separator_aa8da2 {
    display: none;
}

/* Online pill on server invitation display from web */
.pillOnline__921c5 {
    background: transparent;
}