/* Server setting when click on web invitation link */
.visual-refresh .editProfileContainer__7bf69 {
    background: var(--card-shading);
}

/* No separator in settings */
.visual-refresh .aa8da23faa27393c-separator {
    display: none;
}

/* Online pill on server invitation display from web */
._921c50dc4baa4b4f-pillOnline {
    background: transparent;
}