@use "../backend" as *;

// --------------------- User Panel ---------------------

// Activity panel border
#{c(main visualRefresh)} #{c(main global activityPanel)} {
    border-bottom: cv('hyprcord.border');
}

// Voice chat panel border
#{c(main global panels)}:not(:has(#{c(main profile nameplateContainer)})) #{c(main global voicePanelWrapper)}:has(#{c(main global voicePanelContainer)}) {
    border-bottom: 1px solid var(--hsl-main-color);
}

// Voice chat button
#{c(main visualRefresh)} #{c(main global voiceButton)}#{c(main global voiceButtonColor)} {
    background: rgba(255, 255, 255, 0.089);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

// Soundboard
#{c(main visualRefresh)} #{c(main global soundButton)} {
    border: cv('hyprcord.border')
}

// In voice chat streaming button
#{c(main visualRefresh)} #{c(main global voiceButton)}#{c(main global voiceButtonColor)}#{c(main global voiceButtonActive)} {
    background: hsl(from var(--success-color) h s l / 0.4);
    color: var(--button-secondary-text);
    border-color: hsl(from var(--success-color) h s l / 0.5);
}

// Old User Panel
#{c(main visualRefresh)} #{c(main global panels)} {
    width: calc(var(--custom-guild-sidebar-width) - var(--custom-guild-list-width) - 2 * var(--global-margin)) !important;
    left: calc(var(--global-margin) + 1px * var(--guildsize) + 2 * calc(10px * var(--guildsize) / 50)) !important;
    background: transparent;
}

// Span server list to the bottom
#{c(main global guilds)} {
    margin-bottom: 0px;
}

// Nameplate fix
#{c(main global panels)} #{c(main profile nameplateContainer)} {
    width: 104.1%;
    border-top-right-radius: 8px;
}

// Old buttons on panel
#{c(main global oldPanelButtonChevron)} {
    display: none !important;
}

#{c(main global oldPanelButtons)} {
    gap: 15px;
}

button#{c(main global oldPanelButton)},
span#{c(main global oldPanelButton)} {
    width: 20px;
}