/* Hide activity header */
.visual-refresh .c8ffbb79449f399c-membersGroup:has(._095fe51feb41b3bb-headerContainer),
/* Hide member's activities */
.visual-refresh ._0f2e83213c878a13-container {
    display: none;
}