/* Member list span on hover (thank you Leo and Leafy for helping 🙏) */
.membersWrap_c8ffbb {
  position: relative;
  margin-left: -190px;
  transform: translateX(190px);
  transition: transform 0.5s ease-out;

  &:is(:hover, :focus-within) {
    transform: translateX(0);
    margin-left: 0;
  }
}