/* ClearVision-Aki Hover Animation Utilities
    refact0r & animation logic by refact0r
    File: Utils/on_hover.css
    Description: Adds subtle lateral slide + unread dot shift animations
    Repository: https://github.com/refact0r/midnight-discord
*/

.visual-refresh {
    /* list hover animations */
    .wrapper__2ea32 .link__2ea32
    /* channels */
    ,
    .container__91a9d
    /* members */
    ,
    .channel__972a0
    /* dms */
    ,
    .side_aa8da2 .item_aa8da2

    /* settings */
        {
        transition: transform 0.2s ease;
    }

    .wrapper__2ea32:hover .link__2ea32,
    .side_aa8da2 .item_aa8da2:hover {
        transform: translateX(20px);
    }

    .container__91a9d:hover,
    .channel__972a0:hover {
        transform: translateX(28px);
    }

    /* list hover channel dot */
    .unread__2ea32 {
        border-radius: 50%;
        width: 8px;
        height: 8px;
        margin-left: -4px;
        transition: transform 0.2s ease;
    }

    .wrapper__2ea32:hover .unread__2ea32 {
        transform: translateX(16px);
    }
}