/**
 * @name ClearVision V7 Hyprcord
 * @author Aki
 * @version 7.0.1
 * @description ClearVision V7 + Hyprland.
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

/* ServerColumns addon temp fix */
@import url(https://gist.githubusercontent.com/Getbricked/76a9c00c854146ed39a11c72969dfb71/raw/d07cde506695f8029d5d33b6f8fc80b46b3892ae/ServerColumns-temp.css); 

/* IMPORT SOURCE (Themes) */
@import url(https://getbricked.github.io/Hyprcord/Themes/forum.css);
@import url(https://getbricked.github.io/Hyprcord/Themes/nameplate.css);
@import url(https://getbricked.github.io/Hyprcord/Themes/server.css);
@import url(https://getbricked.github.io/Hyprcord/Themes/global.css);

/* SETTINGS */
:root {
    /* Tweak in case using ServerColumn addon (only work for 1 column) */
    --columns: 1;
    --guildsize: 57;
    --aligndms: 0;

    /* Global margin for everything default is 20px */
    --global-margin: 20px;

    /* The size and style of border (default is 1px and var(--bordersize, 1px) solid var(--hsl-main-color) */
    --bordersize: 1px;
    --border: var(--bordersize, 1px) solid var(--hsl-main-color);

}
