/* Friends List Header Fix */
.visual-refresh ._99e7cad8d4c55236-headerText {
    display: flex;
    text-transform: uppercase;
    font-size: 14.5px;
    font-weight: 700;
    align-items: center
}

/* DM Username Color and Size */
._972a0d22c8afa7f0-linkButtonIcon,
._20a53846fe2e8513-name {
    font-size: 14px;
    text-shadow: #000000 0px 0px 2px;
    font-weight: 700;
    transition: all 0.15s ease-in-out;
    overflow: hidden;
}

/* Friends List size */
._0a06ed6ea040aa1b-username {
    font-size: 15px;
}

.sub_0a06ed6ea040aa1b-text {
    color: white;
}

.contentOverlay__3f6fc {
    background: var(--popout-shading) !important;
}

/* Selected Interactive in DM */
.visual-refresh ._972a0d22c8afa7f0-interactive._972a0d22c8afa7f0-interactiveSelected::before {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
}