/* Role groups */
.c8ffbb79449f399c-membersGroup {
    background: rgba(32, 181, 255, 0.025);
    color: var(--hsl-main-color);
    margin: auto;
    border-top: 3px solid var(--hsl-main-color);
}

/* Members list */
/* .visual-refresh .c8ffbb79449f399c-members {
    background: var(--card-shading);
} */

/* DM + Channel list */
.visual-refresh .e6b7699ce8339e1c-privateChannels,
.visual-refresh ._2637a2609f343032-container {
    background: transparent !important;
}

/* Usernames in servers */
._5d473ecff348c314-username {
    font-size: 15px;
    font-weight: 600;
}

/* Selected user with role color */
._703b91fc872193e8-nameContainer[style^="color:"]:after {
    background: linear-gradient(to right, currentColor, transparent) !important;
}

/* Selected user with no role color */
._703b91fc872193e8-nameContainer:after {
    background: linear-gradient(to right, var(--hsl-main-color), transparent) !important;
}

/* Selected user with gradient color */
._703b91fc872193e8-nameContainer:has(.e5de7811b2777bfa-threeColorGradient):after,
._703b91fc872193e8-nameContainer:has(.e5de7811b2777bfa-twoColorGradient):after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.6), transparent) !important;
}

/* Fix tag on username */
._703b91fc872193e8-username {
    overflow: hidden;
}

/* Tag and Owner only on hover */
._5d473ecff348c314-memberInner :not(.selected, :hover) :is(._5d473ecff348c314-clanTag, ._5d473ecff348c314-ownerIcon) {
    display: none
}