/* Channel text */
.theme-dark ._2ea32c412048f708-name {
    text-shadow: #000000 0px 0px 1px;
}

/* Server list */
.visual-refresh .ef3116c2da186559-scroller {
    background: transparent;
    margin-bottom: 0px !important;
}

/* DM + Server channel */
._5e434347c823b592-sidebarList .d125d22cdfd32cfe-scrollerBase {
    background: transparent;
}

/* Top bar */
.c38106a3f0c3ca76-bar {
    background: transparent;
}

/* Round servers icon */
._6e9f8dce4cc18de3-icon {
    border-radius: 50%;
}

/* Server hover + selected */
._6e9f8dce4cc18de3-wrapper._6e9f8dce4cc18de3-selected ._6e9f8dce4cc18de3-icon {
    border-radius: 10px;
    transition: border-radius 0.5s ease;
}

/* Channels list + Server name above it*/
/* .visual-refresh ._2637a2609f343032-container {
    background: var(--card-shading);
} */

/* Hide pill for home */
._1f388bcaa446c0c8-tutorialContainer ._650eb104245d257b-listItem ._581051df43c5ebb6-item {
    display: none;
}

/* Selected channel */
._2ea32c412048f708-wrapper._2ea32c412048f708-modeSelected ._2ea32c412048f708-link::before {
    background: linear-gradient(to right, var(--hsl-main-color), transparent);
}

/* New badge in forum*/
.faa96b2163f6a142-newBadge {
    color: var(--text-normal);
}

/* Channel title */
:is(.theme-dark, .theme-light) ._9293f6b2fc12398a-themed {
    background: transparent;
}

.f37cb1984c371ee5-container {
    background: transparent;
}