// ClearVision v7 classes function https://github.com/ClearVision/ClearVision-v7/blob/master/src/backend/_classes.scss
@use 'sass:string';
@use 'sass:list';
@use 'sass:map';
@use 'sass:meta';

////////////////////
/// VERY IMPORTANT INFO FOR SEARCHING OR ADDING CLASS NAMES
/// Remove the preceding dot before the class name!
/// The function below adds that before CSS generation and thus is not needed
/// Also if you've forked the original project, please commit to it upstream
////////////////////

/// Get a class from the Classes Map. Code stolen entirely from Zerthox.
/// Changes to Zerthox's code:
/// Class list lacks proceeding dot to allow for quick html element copy class list.
/// Aliasing. You can start a string with "alias " and fill the rest out as if it was #{c(STRING HERE)}.
/// Lists. You can uses lists for multiple classes to preform the same function. You can use [bracketed lists] for :where() and non-bracketed for :is().
/// Minor SCSS syntax changes.
/// Dirty trace. Add a ! to the start of a class to get the used location(s).
/// Checks for sub-maps and throws error if that's true.
/// Checks for a hash at front and spits out an ID rather than a class.
///
/// NOTE: Deprecated listings have @ at the start and cannot be combined with the dirty trace.
/// It is strongly advised to use a different class, usually in a comment beside the class.
/// Certain aliases may also be deprecated in the future.
@function class($query, $alias: false) {
    $class: $classes;

    @each $el in $query {
        $class: map.get($class, '#{$el}');

        @if not $class {
            @if $alias {
                @error "Unknown alias \"#{$el}\" in category: #{$query}. Please fix the classes list.";
            }

            @else {
                @error "Unknown class or ID \"#{$el}\" in category: #{$query}. Was the classes file not saved?";
            }
        }
    }

    @if meta.type-of($class)==map {
        @error "Map used as input: #{$query}. Please fix and try again.";
    }

    @if meta.type-of($class)==string {
        @return checkString($class, $alias);
    }

    @else if meta.type-of($class)==list {
        // stuff for list would go here
        $list: ':';

        @if list.is-bracketed($class) {
            $list: $list + 'where(';
        }

        @else {
            $list: $list + 'is(';
        }

        @each $item in $class {
            $list: $list + checkString($item, $alias) + ',';
        }

        $list: string.slice($list, 1, -2) + ')'; // remove comma at end and add closing bracket
        @return $list;
    }
}

@function checkString($class, $alias: false) {

    // debug locator string thingy
    @if string.slice($class, 1, 1)=='!' or string.slice($class, 1, 1)=='@' {
        @if string.slice($class, 1, 1)=='!' {
            @warn "[DEBUG] The class, \"#{$class}\", was used.";
        }

        @else if string.slice($class, 1, 1)=='@' {
            @warn "[DEPRECATED] The specific selector used for \"#{$class}\" is deprecated and may be removed in the future.";
        }

        $class: string.slice($class, 2, -1);
    }

    @if string.slice($class, 1, 1)=='.' {
        @error "Dot at start of string within list. Please fix and try again.";
    }

    @if string.slice($class, 1, 6)=='alias ' {

        // force error on already tested aliases to prevent loops
        @if $alias ==true {
            @error "Issue caused by \"#{$class}\". Do not point aliases to other aliases as to prevent loops. Please fix this and try again.";
        }

        $aliasList: (
        ); // create fake list to be thrown into function again
    $aliasQuery: string.slice($class, 7, -1); // remove `alias ` from query
    $spaceIndex: string.index($aliasQuery, $substring: ' '); // finds first space

    @while $spaceIndex !=null {
        $item: string.slice($aliasQuery, 1, $spaceIndex - 1);
        $aliasQuery: string.slice($aliasQuery, $spaceIndex + 1, -1);
        $aliasList: list.append($aliasList, $item, space);
        $spaceIndex: string.index($aliasQuery, $substring: ' '); // if not found this declared null
    }

    $aliasList: list.append($aliasList, $aliasQuery, space); // adds last item after @while
    @return #{class($aliasList, $alias: true)}; // thrown back into the class list as the new query
}

@if string.slice($class, 1, 1)=='#' {
    @return $class;
}

@else {
    @return '.'+$class;
}
}

///extreme lazy shorthand with capital just in case
@function c($query, $alias: false) {
    @return class($query, $alias);
}

@function C($query, $alias: false) {
    @return class($query, $alias);
}

/// dump literally every class for debug
// todo for this: make sure to escape \ as \\ on export
// todo for this: ensure aliases actually work; just don't dump them into the list
@function debug_dump_all_classes_yes_i_am_sure() {
    $fullClassList: '';
    $l: $classes;

    @each $item in $l {

        // nth($item,1); // category name
        // type-of(nth($item,2)); // whole map
        @each $subitem in list.nth($item, 2) {
            // $subitem should always be a list, don't question it.
            $fullClassList: $fullClassList + debug_dump_all_classes_in_list('', list.nth($subitem, 2));
        }
    }

    // @debug $fullClassList;
    @return $fullClassList;
}

@function debug_dump_all_classes_in_list($strOfClasses, $listToDump) {
    $classesFromList: '';

    @each $class in $listToDump {

        // @debug type-of($class) "|" $class;
        @if meta.type-of($class)==string {
            $checkString: debug_checkString($class);

            @if $checkString !='' {
                $classesFromList: $classesFromList + $checkString + '\A';
            }
        }

        @else if meta.type-of($class)==list {
            // @debug "it's a list.";
            // skip first item since that'll be for the list identifier
            $classesFromList: $classesFromList + debug_dump_all_classes_in_list($classesFromList, list.nth($class, 2));
        }
    }

    @return $classesFromList;
}

@function debug_checkString($class) {
    @if string.slice($class, 1, 1)=='!' or string.slice($class, 1, 1)=='@' {
        @if string.slice($class, 1, 1)=='@' {
            @warn "[DEPRECATED] The specific selector used for \"#{$class}\" is deprecated and may be removed in the future.";
        }

        $class: string.slice($class, 2, -1); // remove `!` or `@`
    }

    @if string.slice($class, 1, 1)=='.' {
        @return ''; // despite this actually intending to throw an error, it's better to skip them outright.
    }

    @if string.slice($class, 1, 6)=='alias ' {
        @return ''; // ignore all aliases
    }

    @if string.slice($class, 1, 1)=='#' {
        @return $class;
    }

    @else {
        @return '.'+$class;
    }
}

@function debug_dump_all_aliases_yes_i_am_sure() {
    $fullClassList: '';
    $l: $classes;

    @each $item in $l {

        // nth($item,1); // category name
        // type-of(nth($item,2)); // whole map
        @each $subitem in list.nth($item, 2) {
            // $subitem should always be a list, don't question it.
            $fullClassList: $fullClassList + debug_dump_all_aliases_in_list('', list.nth($subitem, 2));
        }
    }

    // @debug $fullClassList;
    @return $fullClassList;
}

@function debug_dump_all_aliases_in_list($strOfClasses, $listToDump) {
    $classesFromList: '';

    @each $class in $listToDump {

        // @debug type-of($class) "|" $class;
        @if meta.type-of($class)==string {
            $checkString: debug_checkString_alias($class);

            @if $checkString !='' {
                $classesFromList: $classesFromList + $checkString + '\A';
            }
        }

        @else if meta.type-of($class)==list {
            // @debug "it's a list.";
            // skip first item since that'll be for the list identifier
            $classesFromList: $classesFromList + debug_dump_all_aliases_in_list($classesFromList, list.nth($class, 2));
        }
    }

    @return $classesFromList;
}

@function debug_checkString_alias($class, $alias: false) {
    @if meta.type-of($class)==list {
        $allClasses: $classes;

        @each $item in $class {
            $allClasses: map.get($allClasses, '#{$item}');

            @if not $allClasses {
                @if $alias {
                    @error "Unknown alias \"#{$item}\" in category: #{$class}. Please fix the classes list.";
                }

                @else {
                    @error "Unknown class or ID \"#{$item}\" in category: #{$class}. Was the classes file not saved?";
                }
            }
        }

        $class: $allClasses;
    }

    @if meta.type-of($class)==string {
        @if string.slice($class, 1, 1)=='!' {
            $class: string.slice($class, 2, -1); // remove `!`
        }

        @if string.slice($class, 1, 1)=='.' {
            @return ''; // despite this actually intending to throw an error, it's better to skip them outright.
        }

        @if string.slice($class, 1, 6)=='alias ' {

            // force error on already tested aliases to prevent loops
            @if $alias ==true {
                @error "Issue caused by \"#{$class}\". Do not point aliases to other aliases as to prevent loops. Please fix this and try again.";
            }

            $aliasList: (
            ); // create fake list to be thrown into function again
        $aliasQuery: string.slice($class, 7, -1); // remove `alias ` from query
        $spaceIndex: string.index($aliasQuery, $substring: ' '); // finds first space

        @while $spaceIndex !=null {
            $item: string.slice($aliasQuery, 1, $spaceIndex - 1);
            $aliasQuery: string.slice($aliasQuery, $spaceIndex + 1, -1);
            $aliasList: list.append($aliasList, $item, space);
            $spaceIndex: string.index($aliasQuery, $substring: ' '); // if not found this declared null
        }

        $aliasList: list.append($aliasList, $aliasQuery, space); // adds last item after @while
        // @debug $aliasList;
        @return #{debug_checkString_alias($aliasList, $alias: true)}; // thrown back into the class list as the new query
    }
}

@if $alias ==true {
    @if string.slice($class, 1, 1)=='#' {
        @return $class;
    }

    @else {
        @return '.'+$class;
    }
}

@else {
    @return ''; // return empty for non-aliases.
}
}

$classes: (
    'main':( // General stuff
        'visualRefresh': 'visual-refresh',
        'alignChatInput': 'align-chat-input',
        'compactMode': 'compact-mode',
        'themeDark': 'theme-dark',
        'themeLight': 'theme-light',
        'mouseMode': 'mouse-mode',
    ),

    'server': ( // Classes in servers
        'container': 'container__2637a',
        'headerContainer': 'container_f37cb1',
        'headerThemed': 'themed__9293f',
        'topBar': 'bar_c38106',
        'topBarShow': 'show_c38106',
        'guildSeparator': 'guildSeparator__252b6',
        'noticeContainer': 'container__581dd',
        'content': 'content_f75fb0',
        'chatContent': 'chatContent_f75fb0',
        'title': 'title_f75fb0',
        'bannerVisible': 'bannerVisible_f37cb1',
        'animatedContainer': 'animatedContainer_f37cb1',
        'headerEllipseForeground': 'headerEllipseForeground_f37cb1',
        'headerEllipseBackdrop': 'headerEllipseBackdrop_f37cb1',
        'headerGlass': 'headerGlass_f37cb1',
        'guildSidebar': 'guildSidebar_f75fb0',
        'sidebarContainer': 'sidebarContainer__656be',
        'inviteSplash': 'inviteSplash__9b0f4',
        'channelsAndRolesBackground': 'background__7449f',
        'discoverContainerA': 'container__551b0',
        'discoverContainerB': 'container_a592e1',
        'discoverGradient': 'gradient_e9ef78',
        'discoverGradientBackground': 'gradientBackground_e9ef78',
        'discoverScroller': 'scroller__23746',
        'discoverBackdrop': 'backdrop__8a7fc',
        'onboardMain': 'main_c08b38',
        'onboardFullBorderWithGradient': 'fullBorderWithGradient_c08b38',
        'onboardPrompt': 'prompt_fe70ca',
        'onboardNavButtons': 'navButtons_fe70ca',
        'onboardTermsFieldBody': 'termsFieldBody_fe70ca',
        'tagPopoutContainer': 'container_cdb3b1',
        'nsfwScroller': 'scroller_f35c3c',
        'winButtons': 'winButtons_c38106',
        'winButton': 'winButton_c38106',
        'winButtonClose': 'winButtonClose_c38106',
        'winButtonMinMax': 'winButtonMinMax_c38106',
        'membersMainTableContainer': 'mainTableContainer__09a38',
        'rulesContainer': 'container_b962dc',
        'activeThreadsContainer': 'container_a8217b',
        'activeThreadsHeader': 'header_a8217b',
        'header': 'header_f37cb1',
        'onboardNotice': 'notice_a9b452',
        'onboardReview': 'review_a9b452',
        'onboardingStepContainer': 'onboardingStepContainer__28e57',
        'eventsContainer': 'container__6e9be',
    ),


    'guildList': ( // Servers list
        'wrapper': 'wrapper_ef3116',
        'scroller': 'scroller_ef3116',
        'iconWrapper': 'wrapper__6e9f8',
        'icon': 'icon__6e9f8',
        'selectedWrapper': 'selected__6e9f8',
        'childWrapper': 'childWrapper__6e9f8',
        'folderHeader': 'folderHeader__48112',
        'folderPreviewWrapper': 'folderPreviewWrapper__48112',
        'folderGroupBackground': 'folderGroupBackground__48112',
        'isExpanded': 'isExpanded__48112',
        'tutorialContainer': 'tutorialContainer__1f388',
        'listItem': 'listItem__650eb',
        'item': 'item__58105',
    ),

    'chatForm': ( // Chat form
        'form': 'form_f75fb0',
        'scrollableContainer': 'scrollableContainer__74017',
        'themedBackground': 'themedBackground__74017',
        'upload': 'upload_aa605f',
    ),

    'menus': ( // Menus
        'menu': 'menu_c1e9c4',
        'colorDanger': 'colorDanger_c1e9c4',
        'label': 'label_c1e9c4',
    ),

    'bar': ( // Bars
        'newMessages': 'newMessagesBar__0f481',
        'jumpToPresent': 'jumpToPresentBar__0f481',
        'messagesError': 'messagesErrorBar__0f481',
    ),

    'chat': ( // Chat area
        'chat': 'chat_f75fb0',
        'threadSidebarOpen': 'threadSidebarOpen_f75fb0',
        'message': 'message__5126c',
        'messageListItem': 'messageListItem__5126c',
        'messageSelected': 'selected__5126c',
        'messageButtonsInner': 'buttonsInner__5126c',
        'systemMessage': 'systemMessage__5126c',
        'mentioned': 'mentioned__5126c',
        'scrollerInner': 'scrollerInner__36d07',
        'markup': 'markup__75297',
        'username': 'username_c19a55',
        'timestamp': 'timestamp_c19a55',
        'messageContent': 'messageContent_c19a55',
        'edited': 'edited_c19a55',
        'hiddenVisually': 'hiddenVisually_b18fe2',
        'hamBanner': 'hamBanner__6a41e',
        'inviteContainer': 'guildInviteContainer__083ae',
        'inviteFooterContent': 'footerContent__083ae',
        'typingText': 'text_b88801',

        'searchResultsWrap': 'searchResultsWrap_a9e706',
        'messagesPopoutWrap': 'messagesPopoutWrap_e8b59c',

        'divider': ('divider': 'divider__908e2',
            'content': 'content__908e2',
            'unreadPill': 'unreadPill__908e2',
        ),

        'spoiler': ('content': 'spoilerContent__299eb',
            'markdownContent': 'spoilerMarkdownContent__299eb',
            'hidden': 'hidden__299eb',
        ),

        'reactions': ('wrapper': 'wrapper_c0e32c',
            'isBurstReactionPicker': 'isBurstReactionPicker_c0e32c',
        ),
    ),

    'activity': ( // Activity / Game panel
        'wrapper': 'wrapper__49094',
        'panelContainer': 'activityPanelContainer__49094',
        'container': 'activityContainer__49094',
        'button': 'buttonSection__49094',
        'app': ( // Inside app panel
            'iframe': 'iframe_c5bcbe',
            'tile': 'tile__90dc5',
        ),
    ),

    'expressionPicker': ( // Emoji/Sticker/GIF picker
        'contentWrapper': 'contentWrapper__08434',
    ),

    'thread': ('browser': 'browser_d98031',
        'modal': 'modal__9a792',
        'container': 'container__01ae2',
        'layerContainer': 'layerContainer__59d0d',
        'submitContainer': 'submitContainer_fb64c9',
    ),

    'friendsDM': ( // Friends / DM list
        'privateChannels': 'privateChannels_e6b769',
        'headerText': 'headerText__99e7c',
        'interactive': 'interactive__972a0',
        'interactiveSelected': 'interactiveSelected__972a0',
        'linkButtonIcon': 'linkButtonIcon__972a0',
        'layout': 'layout__20a53',
        'name': 'name__20a53',
        'peopleUsername': 'username__0a06e',
        'peopleText': 'subtext__0a06e',
        'nowPlayingColumn': 'nowPlayingColumn__133bf',
        'peopleColumn': 'peopleColumn__133bf',
    ),

    'channels': ( // Channel list entries
        'name': 'name__2ea32',
        'wrapper': 'wrapper__2ea32',
        'modeSelected': 'modeSelected__2ea32',
        'link': 'link__2ea32',
        'iconContainer': 'iconContainer__2ea32',
        'icon': 'icon__2ea32',
    ),

    'memberList': ('members': 'members_c8ffbb',
        'membersGroup': 'membersGroup_c8ffbb',
        'member': 'member__5d473',
        'memberInner': 'memberInner__5d473',
        'username': 'username__5d473',
        'nameContainer': 'nameContainer__703b9',
        'usernameInner': 'username__703b9',
        'clanTag': 'clanTag__5d473',
        'ownerIcon': 'ownerIcon__5d473',
        'threeColorGradient': 'threeColorGradient_e5de78',
        'twoColorGradient': 'twoColorGradient_e5de78',
    ),

    'header': ( // Channel header
        'container': 'container__9293f',
    ),

    'embedsMedia': ( // Embeds & media viewers
        'embedFull': 'embedFull__623de',
        'embedMedia': 'embedMedia__623de',
        'inlineMediaEmbed': 'inlineMediaEmbed__623de',
        'mosaicItem': 'mosaicItem__6c706',
        'discordInviteWrapper': 'wrapper_d5f3cd',
        'nonVisualMediaItem': 'nonVisualMediaItem_f4758a',
        'originalLink': 'originalLink_af017a',

        'mediaPreview': ('topBar': 'topBar__6088c',
            'closeButton': 'closeButton__6088c',
            'mediaArea': 'mediaArea_e03578',
            'zoomed': 'zoomed_a22bfd',
            'media': 'media_a22bfd',
            'imageWrapper': 'imageWrapper_af017a',
            'actionButtons': 'actionButtons_cc1819',
        ),
        'tagServerPreview': 'container_d3846c',
        'emojiServerPopout': 'popoutContainer__0f481',
        'voiceMessage': ('rippleContainer': 'rippleContainer_a8e786',
            'container': 'container_a8e786',
            'playing': 'playing_a8e786',
        ),
    ),

    'voiceCall': ('wrapper': 'wrapper_cb9592',
        'minimum': 'minimum_cb9592',
        'videoWrapper': 'videoWrapper__6981d',
        'borderRadius': 'borderRadius__6341f',
        'tileContainer': 'tileContainer__71eb2',
        'soundboardPicker': 'picker__09f65',
        'drawerSizingWrapper': 'drawerSizingWrapper__9c62c',
        'buttonSection': 'buttonSection__1405b',
        'stageContainer': 'container__9aed4',
        'callContainer': 'callContainer_cb9592',
        'quickSelectPopout': 'quickSelectPopout_ebaca5',
        'noBorder': 'noBorder__2f4f7',
        'callContent': 'callContent_cb9592',
        'wrapperSidebarOpen': 'sidebarOpen_cb9592',
        'colorable': 'colorable_f1ceac',
        'disconnect': 'disconnect_f1ceac',
    ),

    'profile': ('statusOuter': 'outer_ab8609',
        'statusInner': 'inner_ab8609',
        'nameplateContainer': 'container__4bbc6',
        'nameplateVideoContainer': 'videoContainer__4bbc6',
        'nameplateImg': 'img__4bbc6',
        'nameplateHover': 'hover__4bbc6',
        'nameplateSelected': 'selected__4bbc6',
        'nameplatePreview': 'preview__4bbc6',
        'nameplateAccount': 'account__4bbc6',
        'nameplateChannel': 'channel__4bbc6',
        'modalOuter': 'outer_c0bea0',
        'modalInner': 'inner_c0bea0',
        'banner': 'banner__68edb',
        'profileContainer': 'profile__9c3be',
        'backgroundImage': 'backgroundImage__9c3be',
        'activitiesCard': 'card__39ec2',
        'profileEffects': 'profileEffects__01370',
    ),

    'settings': ('sidebarRegion': 'sidebarRegion__23e6b',
        'contentRegion': 'contentRegion__23e6b',
        'standardSidebarView': 'standardSidebarView__23e6b',
        'editProfileContainer': 'editProfileContainer__7bf69',
    ),

    'search': ('resultsWrap': 'searchResultsWrap_a98f3b',
    ),

    'notice': ('base': 'notice__6e2b9',
    ),

    'shop': ('shopScroll': 'shopScroll__08415',
        'shopScrollAlt': 'shopScroll__1feb0',
        'shop': 'shop__6db1d',
        'mainPageScroller': 'mainPageScroller_ca1a02',
    ),

    'quest': ('claimedRootContainer': 'claimedRootContainer_acca35',
        'headerContainer': 'headerContainer_acca35',
        'headerBackground': 'headerBackground_acca35',
    ),

    'serverBoost': ('contentContainer': 'contentContainer__89463',
        'activeContainer': 'container__5573a',
        'progressContainer': 'progressContainer__0d0f9',
        'navButtonActive': 'navButtonActive_d507dd',
        'contentWrapper': 'contentWrapper_d507dd',
    ),

    'forum': ('container': 'container_f369db',
        'noticeHeader': 'header__34c2c',
        'chatHeaderBar': 'chatHeaderBar_a5700d',
        'uploadInput': 'uploadInput__94439',
        'newBadge': 'newBadge_faa96b',
    ),

    'global': ('layers': 'layers__960e4',
        'content': 'content__5e434',
        'panels': 'panels__5e434',
        'activityPanel': 'panel__5dec7',
        'sidebarList': 'sidebarList__5e434',
        'guilds': 'guilds__5e434',
        'page': 'page__5e434',
        'scrollerBase': 'scrollerBase_d125d2',
        'contentOverlay': 'contentOverlay__3f6fc',
        'voicePanelWrapper': 'wrapper_e131a9',
        'voicePanelContainer': 'container_e131a9',
        'voiceButton': 'button_e131a9',
        'voiceButtonColor': 'buttonColor_e131a9',
        'voiceButtonActive': 'buttonActive_e131a9',
        'soundButton': 'soundButton__9be63',
        'oldPanelButtonChevron': 'buttonChevron__37e49',
        'oldPanelButtons': 'buttons__37e49',
        'oldPanelButton': 'button__67645',
    ),

    'quickswitcher': ('popout': 'quickswitcher_ac6cb0',
    ),

    'popouts': ('recentMentionsPopout': 'recentMentionsPopout__95796',
        'serverTagContainer': 'container_cdb3b1',
        'searchbarPopout': 'container_f1c5c9',
    ),

    'modals': ('rootWithShadow': 'rootWithShadow__49fc1',
        'modalLegacy': 'modal_a8217b',
        'modal': 'modal__62141',
        'inviteContainer': 'container__9b0f4',
        'leavingContainer': 'container__8a031',
    ),
);