@use "backend" as *;

// WRAPPER
#{c(activity wrapper)} {
    background: transparent;
}

// ACTIVITY PANEL
#{c(activity panelContainer)} {
    @include panel($border: true, $radius: true, $margin: top);
}

// ACTIVITY CONTAINER
#{c(activity container)} {
    @include panel($radius: true);
}

// ACTIVITY BUTTON
#{c(activity button)} {
    @include panel($radius: true);
    background: cv('shading.card');
}

// ACTIVITY APP
#{c(activity app iframe)} {
    border-top-left-radius: cv('hyprcord.radius');
    border-top-right-radius: cv('hyprcord.radius');
}


#{c(activity app tile)} {
    background: transparent;
}