@use "backend" as *;

// ------------------- CHAT -------------------

// Chat input
#{c(main visualRefresh)} {
    #{c(chatForm form)} {
        padding-left: cv('hyprcord.margin');
        padding-right: cv('hyprcord.margin');
    }
}

// Right click on msg
#{c(menus menu)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border') !important;
}

// Jump to present bar
#{c(bar jumpToPresent)} {
    background: cv('shading.popout');
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
}

// On hover msg
#{c(chat message)}#{c(chat messageSelected)} #{c(chat messageButtonsInner)},
#{c(main mouseMode)} #{c(chat message)}:hover #{c(chat messageButtonsInner)} {
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
}

// Emoji + GIF + Stickers Box
#{c(main visualRefresh)} {
    #{c(expressionPicker contentWrapper)} {
        border: cv('hyprcord.border');
        border-radius: cv('hyprcord.radius');
    }
}

// Emoji
#{c(expressionPicker contentWrapper)} #emoji-picker-tab-panel {
    border: none;
}

// Reaction emoji
#{c(chat reactions wrapper)},
#{c(chat reactions wrapper)}#{c(chat reactions isBurstReactionPicker)} {
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
}

// Chat contents
#{c(chat scrollerInner)} {
    padding-left: calc(var(--global-margin) - var(--space-xs));
}

// Search result panel
#{c(main visualRefresh)} #{c(chat searchResultsWrap)} {
    margin-top: cv('hyprcord.margin');
    margin-left: cv('hyprcord.margin');
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Notice
#{c(main visualRefresh)} #{c(notice base)} {
    border-radius: cv('hyprcord.radius');
    margin-top: cv('hyprcord.margin');
    border: cv('hyprcord.border');
    margin-left: cv('hyprcord.margin');
}

// Upload attachment in chat input
#{c(chatForm upload)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border') !important;
}

// Pinned message
#{c(main visualRefresh)} #{c(chat messagesPopoutWrap)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// ------------------- THREAD -------------------
// Thread in chat
#{c(main visualRefresh)} #{c(thread browser)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Thread full screen
#{c(main visualRefresh)} #{c(thread modal)} {
    border: cv('hyprcord.border');
}

// Create a new thread
#{c(main visualRefresh)} #{c(thread container)}:not(:has(#{c(thread layerContainer)})) {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin-top: cv('hyprcord.margin');
}

#{c(main visualRefresh)} #{c(thread container)}:not(:has(#{c(thread layerContainer)})) #{c(header container)} {
    margin-left: cv('hyprcord.margin');
    width: calc(100% - 2 * var(--global-margin));
}

#{c(thread container)} #{c(thread submitContainer)} {
    padding-top: cv('hyprcord.margin');
    padding-bottom: cv('hyprcord.margin');
    padding-left: calc(var(--global-margin) - 8px);
}

// Message requests spam
#{c(chat hamBanner)} {
    background-color: cv('shading.card');
    margin-top: cv('hyprcord.margin');
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Edited timestamp adjustments
#{c(chat edited)} {
    display: none;
}

#{c(chat message)}:not(#{c(chat systemMessage)}) #{c(chat messageContent)} #{c(chat timestamp)}>#{c(chat hiddenVisually)} {
    height: auto;
    clip: unset;
    clip-path: unset;
    position: unset;
    font-size: 0.625rem;
}

#{c(chat messageContent)} #{c(chat timestamp)}>#{c(chat hiddenVisually)}::before {
    content: "(edited ";
}

#{c(chat messageContent)} #{c(chat timestamp)}>#{c(chat hiddenVisually)}::after {
    content: ")";
}