@use "../backend" as *;

// ------------------- GLOBAL -------------------

// Global margin (outside margin)
#{c(main visualRefresh)} #app-mount #{c(global layers)} {
    margin: cv('hyprcord.margin');
}

// Content margin (everything except top bar)
#{c(global content)} {
    margin-top: 4px;
}

// Top bar
#app-mount:not(:has(#{c(server topBarShow)})) #{c(server topBar)} {
    border: cv('hyprcord.border');
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: cv('hyprcord.radius');
    margin: 0px !important;
}

#{c(server topBar)} {
    background: cv('shading.card');
}

// User panel
#{c(main visualRefresh)} #{c(global panels)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    width: calc(100% - var(--global-margin)) !important;
    z-index: 0;
}

// Server List
#{c(main visualRefresh)} #{c(guildList scroller)} {
    background: cv('shading.bg');
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border') !important;
    margin-top: cv('hyprcord.margin') !important;
    margin-bottom: cv('hyprcord.margin') !important;
}

// Border user profile
#{c(profile modalOuter)} {
    border: cv('hyprcord.border');
}

// Inbox (on top bar)
#{c(main visualRefresh)} #{c(popouts recentMentionsPopout)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Inbox mentions
#{c(chat messagesPopoutWrap)} {
    border: none;
}

// Vencord notification
.vc-notification-root {
    border: cv('hyprcord.border');
}

// DM
#{c(friendsDM privateChannels)} {
    border: none;
    border-radius: 8px;
}

// DM + Channel list
#{c(main visualRefresh)} #{c(friendsDM privateChannels)},
#{c(main visualRefresh)} #{c(server container)} {
    border-radius: cv('hyprcord.radius');
    margin: cv('hyprcord.margin');
    margin-bottom: 0px;
    background: transparent;
}

#{c(friendsDM privateChannels)} #{c(global scrollerBase)} {
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
    margin-bottom: calc(var(--custom-app-panels-height, 0) + var(--global-margin));
}

#{c(global sidebarList)} #{c(global scrollerBase)} {
    background: cv('shading.bg');
}

// "Leaving discord" dialog when click on a link
#{c(modals leavingContainer)} {
    border: cv('hyprcord.border');
}

// ------------------- WINDOWS BUTTON -------------------
#{c(server winButtons)} {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 10px;
    background: none;
}

#{c(server winButton)} {
    & {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        cursor: pointer;
    }

    &:hover {
        opacity: 0.5;
    }
}

// Close button (red)
#{c(server winButtonClose)} {
    background: #ff5f57;
}

// Minimize button (yellow)
#{c(server winButtonMinMax)}:nth-child(1) {
    background: #ffbd2e;
}

// Maximize button (green)
#{c(server winButtonMinMax)}:nth-child(2) {
    background: #28c940;
}

// Hide the Windows-style icons
#{c(server winButton)} svg {
    display: none;
}

// User's status
#{c(profile statusOuter)} {
    background: cv('shading.card');
}

#{c(profile statusInner)} {
    background: transparent;
}

// Searchbar popout
#{c(popouts searchbarPopout)} {
    background: cv('shading.popout');
    border: cv('hyprcord.border');
    margin-top: calc(cv('hyprcord.margin') / 2);
}