@forward 'align-chat-input';
@forward 'chat';
@forward 'embed';
@forward 'forum';
@forward 'global';
@forward 'home';
@forward 'nameplate';
@forward 'profilev2';
@forward 'quest';
@forward 'server';
@forward 'serverboost';
@forward 'settings';
@forward 'shop';
@forward 'voicecall';