@use "../backend" as *;

// Nameplate in member list
#{c(memberList member)} #{c(profile nameplateContainer)} {
    left: -4px;
    width: 101.4%;
}

// Nameplate in user panel
#{c(global panels)} #{c(profile nameplateContainer)} {
    border-radius: inherit;
    left: -4px;
    top: 0px;
    height: 103%;
    width: 103%;
}