@use "../backend" as *;

#{c(search resultsWrap)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin-top: cv('hyprcord.margin');
    margin-left: cv('hyprcord.margin');
}