@use "../backend" as *;

// ------------------- IN SERVER -------------------
// Chat + Chat header + Member list + Server guide + Channels and roles
#{c(server chatContent)},
#{c(main visualRefresh)} #{c(server title)},
#{c(memberList members)},
#{c(server channelsAndRolesBackground)} :is(#{c(global scrollerBase)}) {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin-top: cv('hyprcord.margin');
}

// Member list
#{c(memberList members)} {
    margin-left: cv('hyprcord.margin');
    border: cv('hyprcord.border');
}

// Rules to submit before enter
#{c(server rulesContainer)} {
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
    background: cv('shading.card');
}

// Members
#{c(main visualRefresh)} #{c(server membersMainTableContainer)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Server header
#{c(server headerContainer)} {
    border: cv('hyprcord.border');
    border-top-left-radius: cv('hyprcord.radius');
    border-top-right-radius: cv('hyprcord.radius');
    border-bottom: none;
    width: calc(100% - 2 * var(--bordersize) - 1px);
    background: cv('shading.bg');
}

// Server Notice/Events
#{c(server noticeContainer)} {
    border-left: cv('hyprcord.border');
    border-right: cv('hyprcord.border');
    width: calc(100% - 2 * var(--bordersize) - 1px);
}

// Channel list
#{c(server container)} #{c(global scrollerBase)} {
    border: cv('hyprcord.border');
    border-top: none;
    border-bottom-left-radius: cv('hyprcord.radius');
    border-bottom-right-radius: cv('hyprcord.radius');
    margin-bottom: calc(2*var(--space-4) + cv('hyprcord.margin') + cv('hyprcord.bordersize'));
}

// Server's option (right click on Server's header)
#{c(modals rootWithShadow)}:not(:has(#{c(quickswitcher popout)})),
#{c(modals modalLegacy)},
#{c(modals modal)} {
    border-radius: cv('hyprcord.radius') !important;
    border: cv('hyprcord.border') !important;
}

// NSFW pop up
#{c(server content)} #{c(server nsfwScroller)} {
    margin-top: cv('hyprcord.margin');
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
}

// Boost process bar
#{c(serverBoost progressContainer)} {
    background-color: cv('shading.card');
}

// Active threads
#{c(server activeThreadsContainer)},
#{c(server activeThreadsHeader)} {
    background: transparent;
}

// Discover
#{c(main visualRefresh)} #{c(server discoverContainerA)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin: cv('hyprcord.margin');
}

#{c(main visualRefresh)} #{c(server discoverContainerB)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin-top: cv('hyprcord.margin');
}

#{c(server discoverGradient)},
#{c(server discoverGradientBackground)},
#{c(main visualRefresh)} #{c(server discoverScroller)},
#{c(server discoverBackdrop)} {
    border-radius: cv('hyprcord.radius');
}

// Onboard
#{c(server onboardMain)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    margin-left: cv('hyprcord.margin');
    margin-top: cv('hyprcord.margin');
}

// Onboard questions prompt
#{c(server onboardPrompt)} {
    border: cv('hyprcord.border');
}

// Onboard background
#{c(server onboardFullBorderWithGradient)} {
    background-color: transparent;
}

// Onboard prompt question box
#{c(server onboardPrompt)} {
    background-color: cv('shading.card');
}

// Nav button under prompt questions
#{c(server onboardNavButtons)} {
    background-color: cv('shading.card');
}

// Rules in onboard
#{c(server onboardTermsFieldBody)} {
    background-color: cv('shading.card');
    border: cv('hyprcord.border');
}

// Server tag popout
#{c(server tagPopoutContainer)} {
    background-color: cv('shading.popout');
    border: cv('hyprcord.border');
}

// ------------------- SERVER WITH BANNER -------------------
#{c(main visualRefresh)} #{c(server header)},
#{c(main visualRefresh)} #{c(server bannerVisible)} {
    border-radius: cv('hyprcord.radius');
    background: cv('shading.bg');
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

// Events container in server
#{c(server eventsContainer)} {
    border-left: cv('hyprcord.border');
    border-right: cv('hyprcord.border');
    width: calc(100% - 2 * cv('hyprcord.bordersize') - 1px);
}

#{c(main visualRefresh)} #{c(server animatedContainer)} {
    border-top-left-radius: cv('hyprcord.radius');
    border-top-right-radius: cv('hyprcord.radius');
}

#{c(server headerEllipseForeground)},
#{c(server headerEllipseBackdrop)},
#{c(server headerGlass)} {
    display: none;
}

// ------------------- OUTSIDE SERVER -------------------

// Separator between DM and Servers
#{c(main visualRefresh)} #{c(server guildSeparator)} {
    background-color: cv('color.main');
}

// Server folder
#{c(guildList isExpanded)} #{c(guildList folderGroupBackground)} {
    background-color: cv('color.main');
    opacity: 0.3;
}

#{c(guildList folderPreviewWrapper)} {
    --custom-preview-background: color-mix(in srgb, var(--hsl-main-color), transparent 50%);
}

#{c(guildList folderHeader)} {
    color: cv('color.main');
}

// Remove mask shading
#{c(guildList wrapper)} {
    mask: none;
    -webkit-mask: none;
}

// ------------------- Server Settings -------------------
// Server setting when click on web invitation link
#{c(modals inviteContainer)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border') !important;
}

#{c(server inviteSplash)} {
    border-radius: cv('hyprcord.radius');
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

#{c(main visualRefresh)} #{c(settings editProfileContainer)} {
    border: cv('hyprcord.border');
}

// Onboard settings
#{c(server onboardNotice)},
#{c(server onboardReview)},
#{c(server onboardingStepContainer)} {
    background-color: cv('shading.card');
}

// ------------------- Mod View Plugin VC -------------------
#{c(server guildSidebar)} {
    margin-top: cv('hyprcord.margin');
}

#{c(global page)}:has(#{c(server guildSidebar)}) #{c(server sidebarContainer)} {
    margin-top: 0px;
}

#{c(server guildSidebar)} #{c(profile modalOuter)} {
    border-radius: cv('hyprcord.radius');
}

#{c(server sidebarContainer)} {
    margin-top: cv('hyprcord.margin');
}

#{c(server sidebarContainer)} #{c(profile modalOuter)} {
    border-radius: cv('hyprcord.radius');
}