@use "../backend" as *;

// ------------------- SERVER BOOST (NEW) -------------------

// Content Container
#{c(main serverBoost contentContainer)} {
    margin-top: cv('hyprcord.margin');
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Active boost
#{c(main serverBoost activeContainer)} #{c(main serverBoost activeContainer)}-active {
    border-color: cv('color.success');
}

// Emoji/Image for role (Boost level 2)
#{c(main serverBoost contentWrapper)} {
    background-color: cv('shading.popout');
}

#{c(main serverBoost navButtonActive)} {
    background-color: cv('color.main');
}

#{c(main serverBoost contentWrapper)} #emoji-picker-tab-panel {
    border: none;
}