@use "../backend" as *;

// ------------------- SETTINGS -------------------

// Sidebar
#{c(main visualRefresh)} #{c(settings sidebarRegion)} {
    margin-right: cv('hyprcord.margin');
}

// Content + Sidebar
#{c(settings contentRegion)},
#{c(main visualRefresh)} #{c(settings sidebarRegion)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Global
#{c(main visualRefresh)} #{c(settings standardSidebarView)} {
    margin-top: calc(var(--global-margin) + var(--custom-app-top-bar-height) + 4px);
}