@use "../backend" as *;

// ------------------- VOICE CALL -------------------

// Title
#{c(main visualRefresh)} #{c(voiceCall wrapper)} #{c(server title)} {
    border: none;
    margin: 0px;
}

// Call in DM
#{c(voiceCall wrapper)}#{c(voiceCall minimum)} {
    background: transparent;
}

#{c(voiceCall callContainer)} {
    background: cv('shading.card') !important;
}

// Fullscreen mode
#{c(voiceCall callContainer)} {
    border: cv('hyprcord.border') !important;
    border-radius: 8px;
    margin-top: cv('hyprcord.margin');
}

// Header
#{c(main visualRefresh)} #{c(voiceCall wrapper)} #{c(header container)} {
    border-radius: cv('hyprcord.radius');
    border: none;
    margin-top: cv('hyprcord.margin');
}

// Hide user
#{c(voiceCall wrapper)}:has(#{c(voiceCall noBorder)}) #{c(voiceCall videoWrapper)} {
    border: none;
}

// Picture in picture + Fullscreen mode
#{c(voiceCall borderRadius)},
#{c(voiceCall videoWrapper)} {
    border-radius: 8px;
    border: cv('hyprcord.border');
}

// Stage
#{c(server chatContent)}:has(#{c(voiceCall stageContainer)}) {
    margin-top: cv('hyprcord.margin');
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border') !important;
}

#{c(voiceCall stageContainer)} {
    margin-top: calc(2 * var(--global-margin));
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
    padding-left: 10px;
    padding-right: 10px;
}

#{c(voiceCall tileContainer)} {
    margin-top: calc(var(--global-margin) / 2);
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Soundboard + Activities
#{c(voiceCall soundboardPicker)},
#{c(voiceCall drawerSizingWrapper)} {
    border-radius: cv('hyprcord.radius');
    border: cv('hyprcord.border');
}

// Button in voice call
#{c(voiceCall buttonSection)} {
    background: cv('shading.card');
    border: cv('hyprcord.border');
}

#{c(voiceCall colorable)}#{c(voiceCall disconnect)} {
    border: cv('hyprcord.border') !important;
    border-radius: 12px !important;
}

// Change voice chat region
.theme-dark #{c(voiceCall quickSelectPopout)} {
    background: cv('shading.popout');
    border: cv('hyprcord.border');
    border-radius: cv('hyprcord.radius');
}

// Empty voice call
#{c(voiceCall wrapper)}#{c(voiceCall wrapperSidebarOpen)} {

    #{c(voiceCall callContainer)},
    #{c(voiceCall callContent)} {
        border-radius: cv('hyprcord.radius');
    }
}

#{c(thread container)} {
    padding-left: calc(var(--global-margin) - var(--chat-resize-handle-width) - 2px);
}