/* ------------------- CHAT ------------------- */
/* Chat input */
.visual-refresh .f75fb00fb7356cbe-form {
    padding-left: var(--global-margin);
    padding-right: var(--global-margin);
}

/* Right click on msg */
.c1e9c47c23f12ca3-menu {
    border-radius: 10px;
    border: var(--border) !important;
}

/* Jump to present bar */
._0f481cbbd7530492-jumpToPresentBar {
    background: var(--hsl-popout-shading);
    border: var(--border);
    border-radius: 10px;
}

/* On hover msg */
._5126c0cd07f243a0-message._5126c0cd07f243a0-selected ._5126c0cd07f243a0-buttonsInner,
.mouse-mode ._5126c0cd07f243a0-message:hover ._5126c0cd07f243a0-buttonsInner {
    border: var(--border);
    border-radius: 10px;
}

/* Emoji + GIF + Stickers Box */
.visual-refresh ._084343c4f11eaaab-contentWrapper {
    border: var(--border);
    border-radius: 10px;
}

/* Emoji */
._084343c4f11eaaab-contentWrapper #emoji-picker-tab-panel {
    border: none;
}

/* Reaction emoji */
.c0e32c5cffed3d9f-wrapper,
.c0e32c5cffed3d9f-wrapper.c0e32c5cffed3d9f-isBurstReactionPicker {
    border: var(--border);
    border-radius: 10px;
}

/* Chat contents */
._36d072eab2b2e737-scrollerInner {
    padding-left: calc(var(--global-margin) - var(--space-xs));
}

/* Search result panel */
.visual-refresh .a9e7064fdee8e9b0-searchResultsWrap {
    margin-top: var(--global-margin);
    margin-left: var(--global-margin);
    border-radius: 10px;
    border: var(--border);
}

/* Notice */
.visual-refresh ._6e2b9359c6f84cfd-notice {
    border-radius: 10px;
    margin-top: var(--global-margin);
    border: var(--bordersize, 1px) solid;
    margin-left: var(--global-margin);
}

/* Upload attachment in chat input */
.aa605f19898fe32e-upload {
    border-radius: 10px;
    border: var(--border) !important;
}

/* Pinned message */
.visual-refresh .e8b59c4b335dd2fc-messagesPopoutWrap {
    border-radius: 10px;
    border: var(--border);
}

/* ------------------- THREAD ------------------- */
/* Thread in chat */
.visual-refresh .d98031d9a3e08b09-browser {
    border-radius: 10px;
    border: var(--border);
}

/* Thread full screen */
.visual-refresh .modal__9a792 {
    border: var(--border);
}

/* Create a new thread */
.visual-refresh ._01ae244280823725-container:not(:has(._59d0d7075b521375-layerContainer)) {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

.visual-refresh ._01ae244280823725-container:not(:has(._59d0d7075b521375-layerContainer)) ._9293f6b2fc12398a-container {
    margin-left: var(--global-margin);
    width: calc(100% - 2 * var(--global-margin));
}

._01ae244280823725-container .fb64c9a451c49797-submitContainer {
    padding-top: var(--global-margin);
    padding-bottom: var(--global-margin);
    padding-left: calc(var(--global-margin) - 8px);
}

/* Message requests spam */
._6a41ee0bd29b83e9-hamBanner {
    background-color: var(--hsl-card-shading);
    margin-top: var(--global-margin);
    border-radius: 10px;
    border: var(--border);
}

/* Edited timestamp */
.c19a557985eb7793-edited {
    display: none;
}

._5126c0cd07f243a0-message:not(._5126c0cd07f243a0-systemMessage) .c19a557985eb7793-messageContent .c19a557985eb7793-timestamp>.b18fe29d6fe8dd82-hiddenVisually {
    height: auto;
    clip: unset;
    clip-path: unset;
    position: unset;
    font-size: 0.625rem;
}

.c19a557985eb7793-messageContent .c19a557985eb7793-timestamp>.b18fe29d6fe8dd82-hiddenVisually::before {
    content: "(edited ";
}

.c19a557985eb7793-messageContent .c19a557985eb7793-timestamp>.b18fe29d6fe8dd82-hiddenVisually::after {
    content: ")";
}