/* ------------------- EMBED ------------------- */
/* VC Shiki Code */
.visual-refresh ._752971923a1e6683-markup code {
    border-radius: 10px;
    border: var(--border);
    background: color-mix(in srgb, var(--hsl-main-color), transparent 95%);
}

.vc-shiki-root {
    background-color: transparent !important;
}

/* Copy button of shiki code */
.vc-shiki-btn {
    background-color: transparent !important;
}

/* Media item */
.f4758a8d6346d18b-nonVisualMediaItem {
    background: color-mix(in srgb, var(--hsl-main-color), transparent 80%);
    border-radius: 10px;
}

/* Voice message */
.a8e786485f0c32f8-rippleContainer,
.visual-refresh .a8e786485f0c32f8-container,
.a8e786485f0c32f8-playing {
    border-radius: 6px;
    border: none;
}

/* Link embed */
.visual-refresh ._623de82e76ad7f82-embedFull {
    border: var(--border) !important;
    border-radius: 10px;
    background: var(--card-shading);
}

/* Discord embed */
.visual-refresh .d5f3cd116f175f35-wrapper {
    border-radius: 10px;
    border: var(--border);
}

/* Image global */
._623de82e76ad7f82-embedMedia {
    border-radius: 10px;
}

/* Imagine inline and in grid */
._623de82e76ad7f82-inlineMediaEmbed .af017ab847f75d02-originalLink,
._6c706db0523bd9a7-mosaicItem {
    border: var(--border) !important;
    box-sizing: border-box !important;
    border-radius: 10px;
}

/* ------------------- MEDIA PREVIEW ------------------- */
/* Top bar (under windows bar) */
._6088c3df6d10c76d-topBar {
    position: relative;
    top: calc(var(--global-margin) * 2);
}

/* Tool buttons */
.cc1819cb49c2d109-actionButtons,
._6088c3df6d10c76d-closeButton {
    border: var(--border);
}

/* The picture */
.e035781d3e5b07da-mediaArea {
    position: relative;
    top: calc(var(--global-margin) + 10px);
    border: var(--border);
    border-radius: 10px;
}

.zoomed_a22bfd {
    border: var(--border);
    border-radius: 10px;
}

.a22bfd0da01d94fe-media {
    border-radius: 10px;
}

/* Image Preview */
.e035781d3e5b07da-mediaArea img {
    border-radius: 10px;
}

/* Tag server preview + Emoji server preview */
.d3846c099147bad3-container,
.visual-refresh ._0f481cbbd7530492-popoutContainer {
    border: var(--border);
}