/* ------------------- FORUM ------------------- */

/* Forum container + header */
.visual-refresh .f369dba7416c67f0-container,
.visual-refresh ._9293f6b2fc12398a-container {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

/* Left side */
.visual-refresh .f75fb00fb7356cbe-chat.f75fb00fb7356cbe-threadSidebarOpen {
    margin-right: calc(var(--global-margin) - var(--chat-resize-handle-width) - 1px);
}

/* Forum Notice */
.visual-refresh ._34c2c51cfce1632e-header {
    background: linear-gradient(360deg, var(--hsl-main-color) -100%, transparent);
    border-radius: 10px;
}

/* Pinned thread in forum */
.a5700d36f7c29ded-chatHeaderBar {
    border-radius: 10px;
    background: color-mix(in srgb, var(--hsl-main-color) 30%, transparent);
}

/* New thread image upload button */
._9443936bd3681b09-uploadInput {
    background-color: var(--background-secondary-alt);
}