/* ------------------- DIRRECT MESSAGE ------------------- */
/* Show User Profile */
.f75fb00fb7356cbe-content .c0bea05627c5dc35-inner {
    border-radius: 10px;
}

.f75fb00fb7356cbe-content .c0bea05627c5dc35-outer {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
    margin-left: var(--global-margin);
    height: calc(100% - var(--global-margin) - var(--bordersize) * 2);
}

/* ------------------- FRIENDS ------------------- */
/* Now playing + Friend list */
._133bf5eea8e33a34-nowPlayingColumn,
.visual-refresh ._133bf5eea8e33a34-peopleColumn {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

/* Friend list */
.visual-refresh ._133bf5eea8e33a34-peopleColumn {
    margin-right: var(--global-margin);
}

/* ------------------- SHOP ------------------- */
/* Shop header + Shop + Nitro */
.ca1a02dcad190ff8-mainPageScroller,
.visual-refresh ._084152b107f71237-shop,
.ca1a02dcad190ff8-mainPageScroller {
    border-radius: 10px;
    margin-top: var(--global-margin);
    border: var(--border);
}

.visual-refresh ._6db1d32c47b6ad72-shop {
    background: transparent;
}