/* ------------------- DIRRECT MESSAGE ------------------- */
/* Show User Profile */
.content_f75fb0 .inner_c0bea0 {
    border-radius: 10px;
}

.content_f75fb0 .outer_c0bea0 {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
    margin-left: var(--global-margin);
    height: calc(100% - var(--global-margin) - var(--bordersize) * 2);
}

/* ------------------- FRIENDS ------------------- */
/* Now playing + Friend list */
.nowPlayingColumn__133bf,
.visual-refresh .peopleColumn__133bf {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

/* Friend list */
.visual-refresh .peopleColumn__133bf {
    margin-right: var(--global-margin);
}

/* ------------------- SHOP ------------------- */
/* Shop header + Shop + Nitro */
.mainPageScroller_ca1a02,
.visual-refresh .shop__08415,
.mainPageScroller_ca1a02 {
    border-radius: 10px;
    margin-top: var(--global-margin);
    border: var(--border);
}

.visual-refresh .shop__6db1d {
    background: transparent;
}