/* Nameplate in member list */
.member__5d473 .container__4bbc6 {
    left: -4px;
    width: 101.4%;
}

/* Nameplate in user panel */
.panels__5e434 .container__4bbc6 {
    border-radius: inherit;
    left: -4px;
    top: 0px;
    height: 103%;
    width: 103%;
}