/* Nameplate in member list */
._5d473ecff348c314-member ._4bbc6dc06e75ad52-container {
    left: -4px;
    width: 101.4%;
}

/* Nameplate in user panel */
._5e434347c823b592-panels ._4bbc6dc06e75ad52-container {
    border-radius: inherit;
    left: -4px;
    top: 0px;
    height: 103%;
    width: 103%;
}