/* Banner */
.user-profile-modal-v2 :where(.banner__68edb) {
    border-radius: 10px;
}

/* Inner profile */
.profile__9c3be {
    border: var(--border);
}

/* Big profile */
.custom-user-profile-theme.user-profile-modal-v2 .inner_c0bea0 {
    background: var(--hsl-card-shading);
}

/* Big background profile */
.backgroundImage__9c3be {
    background-size: 100%;
    opacity: .7;
    filter: none;
}

.backgroundImage__9c3be:after {
    backdrop-filter: none;
}

/* Activities */
.card__39ec2 {
    border: var(--border);
}

/* No nitro user */
.outer_c0bea0:not(.custom-user-profile-theme) {
    border: var(--border);
}

/* Nitro user */
.backgroundImage__9c3be {
    background-image: var(--background-image) !important;
    mask-image: none;
    filter: brightness(0.6);
}