/* Claim reward */
.claimedRootContainer_acca35 {
    border: var(--border);
    border-radius: 10px;
}

.headerContainer_acca35,
.headerBackground_acca35 {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
}