/* ------------------- IN SERVER ------------------- */
/* Chat + Chat header + Member list + Server guide + Channels and roles*/
.f75fb00fb7356cbe-chatContent,
.visual-refresh .f75fb00fb7356cbe-title,
.c8ffbb79449f399c-members,
._7449fa59699cedd9-background :is(.d125d22cdfd32cfe-scrollerBase),
.visual-refresh ._0b56311ebc6682e2-container {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

/* Member list */
.c8ffbb79449f399c-members {
    margin-left: var(--global-margin);
    border: var(--border);
}

/* Rules to submit before enter */
.b962dc319e969a3f-container {
    border: var(--border);
    border-radius: 10px;
    background: var(--hsl-card-shading);
}

/* Members */
.visual-refresh ._09a38002c6c2466d-mainTableContainer {
    border-radius: 10px;
    border: var(--border);
}

/* Server header */
.f37cb1984c371ee5-container {
    border: var(--border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    width: calc(100% - 2 * var(--bordersize) - 1px);
    background: var(--hsl-background-shading);
}

/* Server Notice/Events */
._581dd2288501a0d4-container {
    border-left: var(--border);
    border-right: var(--border);
    width: calc(100% - 2 * var(--bordersize) - 1px);
}

/* Channel list */
._2637a2609f343032-container .d125d22cdfd32cfe-scrollerBase {
    border: var(--border);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: calc(8px + var(--global-margin));
}

/* Server's option (right click on Server's header) */
._49fc18ba07c5025f-rootWithShadow:not(:has(.ac6cb02cd15b4b3b-quickswitcher)),
.modal_a8217b,
.modal__62141 {
    border-radius: 10px !important;
    border: var(--border) !important;
}

/* NSFW pop up */
.f75fb00fb7356cbe-content .f35c3c1aaf31dfd5-scroller {
    margin-top: var(--global-margin);
    border: var(--border);
    border-radius: 10px;
}

/* Boost process bar */
._0d0f9ddd12a3ace3-progressContainer {
    background-color: var(--hsl-card-shading);
}

/* Active threads */
.container_a8217b,
.header_a8217b {
    background: transparent;
}

/* Discover */
.visual-refresh ._551b0894962ff66f-container {
    border-radius: 10px;
    border: var(--border);
    margin: var(--global-margin);
}

.visual-refresh .a592e1970a0ce22c-container {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

.e9ef783a74d3f83a-gradient,
.e9ef783a74d3f83a-gradientBackground,
.visual-refresh ._23746ba3de9452d8-scroller,
._8a7fc664acf53af6-backdrop {
    border-radius: 10px;
}

/* Onboard */
.c08b38911b1dcc2f-main {
    border-radius: 10px;
    border: var(--border);
    margin-left: var(--global-margin);
    margin-top: var(--global-margin);
}

/* Onboard questions prompt */
.fe70ca6739eeb5f0-prompt {
    border: var(--border);
}

/* Onboard background */
.c08b38911b1dcc2f-fullBorderWithGradient {
    background-color: transparent;
}

/* Onboard prompt question box */
.fe70ca6739eeb5f0-prompt {
    background-color: var(--hsl-card-shading);
}

/* Nav button under prompt questions */
.fe70ca6739eeb5f0-navButtons {
    background-color: var(--hsl-card-shading);
}

/* Rules in onboard */
.fe70ca6739eeb5f0-termsFieldBody {
    background-color: var(--hsl-card-shading);
    border: var(--border);
}

/* Server tag popout */
.container_cdb3b1 {
    background-color: var(--hsl-popout-shading);
    border: var(--border);
}

/* ------------------- SERVER WITH BANNER ------------------- */
.visual-refresh .f37cb1984c371ee5-header,
.visual-refresh .f37cb1984c371ee5-bannerVisible {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/* .f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-header,
.f37cb1984c371ee5-bannerVisible .f37cb1984c371ee5-header:hover {
    background: var(--hsl-card-shading);
} */

.visual-refresh .f37cb1984c371ee5-animatedContainer {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.f37cb1984c371ee5-headerEllipseForeground,
.f37cb1984c371ee5-headerEllipseBackdrop,
.f37cb1984c371ee5-headerGlass {
    display: none;
}

/* ------------------- OUTSIDE SERVER ------------------- */

/* Separator between DM and Servers */
.visual-refresh ._252b6afd49fda06f-guildSeparator {
    background-color: var(--hsl-main-color);
}

/* Server folder */
._48112cbe77dc5022-isExpanded ._48112cbe77dc5022-folderGroupBackground {
    background-color: var(--hsl-main-color);
    opacity: 0.3;
}

._48112cbe77dc5022-folderPreviewWrapper {
    --custom-preview-background: color-mix(in srgb, var(--hsl-main-color), transparent 50%);
}

._48112cbe77dc5022-folderHeader {
    color: var(--hsl-main-color);
}

/* ------------------- Server Settings ------------------- */
/* Server setting when click on web invitation link */
.container__9b0f4 {
    border-radius: 10px;
    border: var(--border) !important;
}

._9b0f44488203477c-inviteSplash {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.visual-refresh .editProfileContainer__7bf69 {
    border: var(--border);
}

/* Onboard settings */
.a9b45282395ecdfc-notice,
.a9b45282395ecdfc-review,
._28e57b0268546d72-onboardingStepContainer {
    background-color: var(--hsl-card-shading);
}

/* ------------------- Mod View Plugin VC ------------------- */
.f75fb00fb7356cbe-guildSidebar {
    margin-top: var(--global-margin);
}

._5e434347c823b592-page:has(.f75fb00fb7356cbe-guildSidebar) ._656be05658eed04d-sidebarContainer {
    margin-top: 0px;
}

.f75fb00fb7356cbe-guildSidebar .c0bea05627c5dc35-outer {
    border-radius: 10px;
}

._656be05658eed04d-sidebarContainer {
    margin-top: var(--global-margin);
}

._656be05658eed04d-sidebarContainer .c0bea05627c5dc35-outer {
    border-radius: 10px;
}