/* ------------------- SERVER BOOST (NEW) ------------------- */
/* Content Container */
._8946359d8adb1488-contentContainer {
    margin-top: var(--global-margin);
    border-radius: 10px;
    border: var(--border);
}

/* Active boost */
._5573a546299c96e8-container._5573a546299c96e8-active {
    border-color: var(--success-color);
}

/* Emoji/Image for role (Boost level 2) */
.d507dd94ed2580e5-contentWrapper {
    background-color: var(--hsl-popout-shading);
}

.navButtonActive_d507dd {
    background-color: var(--hsl-main-color);
}

.d507dd94ed2580e5-contentWrapper #emoji-picker-tab-panel {
    border: none;
}