/* ------------------- IN SERVER ------------------- */
/* Chat + Chat header + Member list + Server guide + Channels and roles*/
.chatContent_f75fb0,
.visual-refresh .title_f75fb0,
.members_c8ffbb,
.background__7449f :is(.scrollerBase_d125d2),
.visual-refresh .container__0b563 {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

/* Member list */
.members_c8ffbb {
    margin-left: var(--global-margin);
    border: var(--border);
    margin-bottom: 0px;
}

/* Members */
.visual-refresh .mainTableContainer__09a38 {
    border-radius: 10px;
    border: var(--border);
}

/* Server header */
.container_f37cb1 {
    border: var(--border);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    width: calc(100% - 5px);
    background: var(--hsl-card-shading);
}

/* Channel list */
.sidebarList_c48ade .scrollerBase__99f8c {
    border: var(--border);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: var(--hsl-card-shading);
    margin-bottom: var(--global-margin);
}

/* Server's option (right click on Server's header) */
.rootWithShadow__49fc1:not(:has(.quickswitcher_ac6cb0)),
.modal_a8217b,
.modal_ac72c6 {
    border-radius: 10px !important;
    border: var(--border) !important;
}

/* Active threads */
.container_a8217b,
.header_a8217b {
    background: transparent;
}

/* Discover */
.visual-refresh .container__551b0 {
    border-radius: 10px;
    border: var(--border);
    margin: var(--global-margin);
}

.visual-refresh .container_a592e1 {
    border-radius: 10px;
    border: var(--border);
    margin-top: var(--global-margin);
}

.gradient_e9ef78,
.gradientBackground_e9ef78,
.visual-refresh .scroller__23746,
.backdrop__8a7fc {
    border-radius: 10px;
}

/* Onboard */
.main_c08b38 {
    border-radius: 10px;
    border: var(--border);
    margin-left: var(--global-margin);
    margin-top: var(--global-margin);
}

/* Onboard questions prompt */
.prompt_fe70ca {
    border: var(--border);
}

/* Onboard background */
.fullBorderWithGradient_c08b38 {
    background-color: transparent;
}

/* Onboard prompt question box */
.prompt_fe70ca {
    background-color: var(--hsl-card-shading);
}

/* Nav button under prompt questions */
.navButtons_fe70ca {
    background-color: var(--hsl-card-shading);
}

/* Rules in onboard */
.termsFieldBody_fe70ca {
    background-color: var(--hsl-card-shading);
    border: var(--border);
}

/* Server tag popout */
.container_cdb3b1 {
    background-color: var(--hsl-popout-shading);
    border: var(--border);
}

/* ------------------- SERVER WITH BANNER ------------------- */
.visual-refresh .header_f37cb1,
.visual-refresh .bannerVisible_f37cb1 {
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.bannerVisible_f37cb1 .header_f37cb1,
.bannerVisible_f37cb1 .header_f37cb1:hover {
    background: var(--hsl-card-shading);
}

.visual-refresh .animatedContainer_f37cb1 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.headerEllipseForeground_f37cb1,
.headerEllipseBackdrop_f37cb1,
.headerGlass_f37cb1 {
    display: none;
}

/* ------------------- OUTSIDE SERVER ------------------- */
/* Server list */
.visual-refresh .scroller_ef3116 {
    border-radius: 10px;
    border: var(--border) !important;
    margin-top: var(--global-margin) !important;
    margin-bottom: var(--global-margin) !important;
}

/* Separator between DM and Servers */
.visual-refresh .guildSeparator__252b6 {
    background-color: var(--hsl-main-color);
}

/* Server folder */
.isExpanded__48112 .folderGroupBackground__48112 {
    background-color: var(--hsl-main-color);
    opacity: 0.3;
}

.folderPreviewWrapper__48112 {
    --custom-preview-background: color-mix(in srgb, var(--hsl-main-color), transparent 50%);
}

.folderIcon__48112 {
    color: var(--hsl-main-color);
}

/* ------------------- Server Settings ------------------- */
/* Server setting when click on web invitation link */
.container__9b0f4 {
    border-radius: 10px;
    border: var(--border) !important;
}

.inviteSplash__9b0f4 {
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.visual-refresh .editProfileContainer__42179 {
    border: var(--border);
}

/* Onboard settings */
.notice_a9b452,
.review_a9b452,
.onboardingStepContainer__28e57 {
    background-color: var(--hsl-card-shading);
}

/* ------------------- Mod View Plugin VC ------------------- */
.guildSidebar_f75fb0 {
    margin-top: var(--global-margin);
}

.page_c48ade:has(.guildSidebar_f75fb0) .sidebarContainer__656be {
    margin-top: 0px;
}

.guildSidebar_f75fb0 .outer_c0bea0 {
    border-radius: 10px;
}

.sidebarContainer__656be {
    margin-top: var(--global-margin);
}

.sidebarContainer__656be .outer_c0bea0 {
    border-radius: 10px;
}