/* ------------------- VOICE CALL ------------------- */
/* Title */
.visual-refresh .cb9592ad77576717-wrapper .f75fb00fb7356cbe-title {
    border: none;
    margin: 0px;
}

/* Call in DM */
.cb9592ad77576717-wrapper.cb9592ad77576717-minimum {
    background: transparent;
}

.cb9592ad77576717-callContainer {
    background: var(--hsl-card-shading) !important;
}

/* Fullscreen mode */
.cb9592ad77576717-callContainer {
    border: var(--border) !important;
    border-radius: 8px;
    margin-top: var(--global-margin);
}

/* Header */
.visual-refresh .cb9592ad77576717-wrapper ._9293f6b2fc12398a-container {
    border-radius: 10px;
    border: none;
    margin-top: var(--global-margin);
}

/* Hide user */
.cb9592ad77576717-wrapper:has(._2f4f7eb58b61c328-noBorder) ._6981dc6d72610110-videoWrapper {
    border: none;
}

/* Picture in picture + Fullscreen mode */
._6341f5794d35fb69-borderRadius,
._6981dc6d72610110-videoWrapper {
    border-radius: 8px;
    border: var(--border);
}

/* Stage */
.f75fb00fb7356cbe-chat:has(._9aed46c13a1e115c-container) {
    margin-top: var(--global-margin);
    border-radius: 10px;
    border: var(--border) !important;
}

._9aed46c13a1e115c-container {
    margin-top: calc(2 * var(--global-margin));
    border-radius: 10px;
    border: var(--border);
    padding-left: 10px;
    padding-right: 10px;
}

._71eb2d6ae9535ae3-tileContainer {
    margin-top: calc(var(--global-margin) / 2);
    border-radius: 10px;
    border: var(--border);
}

/* Soundboard + Activities */
._09f65b4b8a3f8d26-picker,
._9c62c6ed231468c4-drawerSizingWrapper {
    border-radius: 10px;
    border: var(--border);
}

/* Button in voice call */
._1405b3b8e8eb5fd0-buttonSection {
    background: var(--hsl-card-shading);
    border: var(--border);
}

.f1ceaca61b18918e-colorable.f1ceaca61b18918e-disconnect {
    border: var(--border) !important;
    border-radius: 12px !important;
}

/* Change voice chat region */
.theme-dark .ebaca56eb4bb23eb-quickSelectPopout {
    background: var(--hsl-popout-shading);
    border: var(--border);
    border-radius: 10px;
}

/* Empty voice call */
.cb9592ad77576717-wrapper.cb9592ad77576717-sidebarOpen {

    .cb9592ad77576717-callContainer,
    .callContent_cb9592 {
        border-radius: 10px;
    }
}

._01ae244280823725-container {
    padding-left: calc(var(--global-margin) - var(--chat-resize-handle-width) - 2px);
}