// Discord+ message separation 
// Source: https://github.com/PlusInsta/discord-plus
@use "backend" as *;

/* Discord+ message separation */
:root {
    --global-radius: 10px;
    --msg-spacing-ui: 10px;
    --msg-icon-avatar: 45px;
    --msg-background-color: rgba(0, 0, 0, 0.3);
    --msg-border: 1px solid rgba(179, 179, 179, 0.35);
}

.group-spacing-0 {
    --group-spacing: 0px;
}

.group-spacing-4 {
    --group-spacing: 4px;
}

.group-spacing-8 {
    --group-spacing: 8px;
}

.group-spacing-16 {
    --group-spacing: 16px;
}

.group-spacing-24 {
    --group-spacing: var(--msg-spacing-ui);
}

/* Spacing */
:is(#{c(chat messageListItem)},
    #{c(chat quotedChatMessage)},
    #{c(chat flash)}):has(+ #{c(chat messageListItem)} #{c(chat groupStart)},
    + #{c(chat flash)} #{c(chat groupStart)},
    + #{c(chat scrollerSpacer)}, + #{c(chat divider divider)}) #{c(chat groupStart)}:has(#{c(chat avatar)}:not(#{c(chat compact)})) {
    min-height: calc(var(--msg-spacing-ui) * 2 + var(--msg-icon-avatar));
    padding-top: 0;
    padding-bottom: 0;
}

#{c(chat cozy)}#{c(chat wrapper)} {
    padding-left: calc(var(--msg-icon-avatar) + var(--msg-spacing-ui) * 2);
}

:not(#{c(chat divider divider)})+#{c(chat messageListItem)}:has(#{c(chat groupStart)}),
#{c(chat messageListItem)}+#{c(chat flash)}:has(#{c(chat avatar)}) {
    margin-top: var(--group-spacing);
}

:is(#{c(chat messageListItem)}, #{c(chat quotedChatMessage)}) #{c(chat message)} {
    background: var(--msg-background-color);
}

/* Start of a group msg */
#{c(chat messageListItem)} #{c(chat groupStart)},
#{c(chat flash)}#{c(chat groupStart)},
#{c(chat quotedChatMessage)} #{c(chat groupStart)} {
    border-radius: var(--global-radius) var(--global-radius) 0 0;
    border: var(--msg-border);
    border-bottom: none;
    margin-top: 0;
}

/* Middle of a group msg */
#{c(chat message)} {
    border-radius: 0;
    border-left: var(--msg-border);
    border-right: var(--msg-border);
}


/* End of a group of msg */
:is(#{c(chat messageListItem)}, #{c(chat flash)}):has(+ #{c(chat messageListItem)} #{c(chat groupStart)}, + #{c(chat divider divider)}, + #{c(chat scrollerSpacer)}, + #{c(chat flash)} #{c(chat groupStart)}) #{c(chat message)} {
    border-radius: 0 0 var(--global-radius) var(--global-radius);
    border: var(--msg-border);
    border-top: none;
}

/* Not sure what this is urgh */
:is(#{c(chat messageListItem)}, #{c(chat flash)}):has(+ #{c(chat messageListItem)} #{c(chat groupStart)}, + #{c(chat divider divider)}, + #{c(chat scrollerSpacer)}, + #{c(chat flash)} #{c(chat groupStart)}) #{c(chat groupStart)},
#{c(chat divider divider)}+ :is(#{c(chat messageListItem)}, #{c(chat flash)}):has(+ #{c(chat messageListItem)} #{c(chat groupStart)}) #{c(chat message)} {
    border-radius: var(--global-radius);
    border: var(--msg-border) !important;
}

/* New divider */
#{c(chat divider divider)}#{c(chat beforeGroup)},
#{c(chat divider divider)}#{c(chat hasContent)} {
    margin-top: var(--group-spacing) !important;
}

#{c(chat divider divider)}:not(#{c(chat divider hasContent)}) {
    margin: 0;
    top: 0 !important;
}

/* Mentioned msg */
:is(#{c(chat messageListItem)}, #{c(chat quotedChatMessage)}) #{c(chat mentioned)} {
    background: var(--background-mentioned);
}

#{c(chat mentioned)}:before {
    display: none;
}

/* Divider */
#{c(server chatContent)} #{c(chat messageWrapper)} #{c(chat divider divider)} {
    border-top: none;
    height: 2px;
    justify-content: center;
}

#{c(server chatContent)} #{c(chat messageWrapper)} #{c(chat divider divider)}:has(#{c(chat divider content)}) {
    justify-content: right;
    height: 0px;

    & #{c(chat divider unreadPill)} {
        top: -7px;
    }
}

#{c(server chatContent)} #{c(chat messageWrapper)} #{c(chat divider divider)} #{c(chat divider unreadPill)} {
    border-radius: 10px;
    font-size: 11px;
    padding: 2px 10px;
    right: auto;
    top: -5px;
    box-shadow: 0 0 4px 1px white;
}

#{c(server chatContent)} #{c(chat messageWrapper)} #{c(chat divider divider)} #{c(chat divider unreadPill)} #{c(chat divider unreadPillCap)} {
    display: none;
}

#{c(chat divider content)} {
    color: var(--hsl-main-color);
    text-shadow: 2px 2px 10px black;
}

// Transparency stuff 
#{c(server chatContent)},
#{c(server nsfwScroller)},
#{c(memberList members)} {
    background: transparent;
}