@use 'backend' as *;
@use 'theme';

// ------------------- GLOBAL VARIABLES -------------------
:root {
    --columns: 1;
    --guildsize: 57;
    --aligndms: 0;

    --global-margin: 20px;

    --bordersize: 1px;
    --border: cv('hyprcord.bordersize') solid cv('color.main');
}